@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
nav a {
  padding: 10px;
}
.container{
  margin: 20px auto;
  max-width: 1200px;
}

.pagination {
  text-align: center;
}
td, th {
  border: 1px solid #ddd;
  padding: 5px;
}
.product-card {
  display: flex
;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px auto;
}
.product-box{
  width: 21%;
}